<div class="container">
    <h1>Gestionnaire d'Emails</h1>
    
    <!-- Bouton "Recevoir un email" -->
    <%= form_with url: emails_path, method: :post, local: false, class: "d-inline" do |form| %>
      <%= form.submit "Recevoir un email", class: "receive-email-btn btn btn-primary" %>
    <% end %>
    
    <!-- Tableau principal sur 2 colonnes -->
    <div class="email-table">
      
      <!-- Colonne 1: Liste des emails -->
      <div class="email-list-column">
        <div class="column-title">Liste des emails</div>
        
        <%= turbo_frame_tag "emails" do %>
          <%= render 'shared/emails_list', emails: @emails %>
        <% end %>
      </div>
      
      <!-- Colonne 2: Email sélectionné -->
      <div class="email-content-column">
        <div class="column-title">Email sélectionné</div>
        
        <%= turbo_frame_tag "selected_email" do %>
          <%= render 'shared/selected_email', selected_email: @selected_email %>
        <% end %>
      </div>
      
    </div>
  </div>